<div class="col-xs-6 col-md-4">
  <div class="thumbnail panel panel-default bootcards-file">
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= gif.title %></strong></h3>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <div class="thumbnail gif-thumbnail">
          <%= image_tag gif.image.url(:thumb) %>
        </div>
        <h4 class="list-group-item-heading">
          <emph><%= gif.description %></emph>
        </h4>
        <p class="list-group-item-text"><%= gif.user.full_name %> (<%= time_ago_in_words gif.created_at %> ago)</p>
        <p class="list-group-item-text"><%= extension gif %>, <%= number_to_human_size gif.image.size %></p>
      </div>
      <div class="list-group-item">
          ID: <%= gif.elasticsearch_id %>
      </div>
      <div class="list-group-item">
        Tags:
        <% gif.tags.each do |tag| %>
          <%= link_to search_path(tag: tag.name) do %>
            <span class="label label-primary"><%= tag.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
          <%= link_to gif_path(gif), class: "btn btn-default btn-xs" do %>
            <i class="fa fa-eye"></i> View
          <% end %>
        </div>
        <div class="btn-group">
          <%= link_to gif.image.url(:original, false), class: "btn btn-default btn-xs" do %>
            <i class="fa fa-arrow-down"></i> Download
          <% end %>
        </div>
        <div class="btn-group">
          <%= link_to edit_gif_path(gif), class: "btn btn-default btn-xs" do %>
            <i class="fa fa-edit"></i> Edit
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
